# Working with Dataframes

In [3]:
import pyspark as pys
from pyspark.sql import SparkSession
pys = SparkSession.builder.appName("Python Spark SQL basic example").config("spark.some.config.option", "some-value").getOrCreate()
#above line is a way to start spark session

In [5]:
df = pys.read.csv("Hire.csv")

In [6]:
df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]

In [7]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

In [8]:
df.head()

Row(_c0='YearsExp', _c1='Employed?', _c2='PreviousEmployers', _c3='Education', _c4='TopTierSchool', _c5='Internship?', _c6='Hired')

In [9]:
df.count()

14

In [10]:
df.describe().show()

+-------+-----------------+---------+------------------+----+----+-----------+-----+
|summary|              _c0|      _c1|               _c2| _c3| _c4|        _c5|  _c6|
+-------+-----------------+---------+------------------+----+----+-----------+-----+
|  count|               14|       14|                14|  14|  14|         14|   14|
|   mean|5.153846153846154|     null|1.7692307692307692|null|null|       null| null|
| stddev|  6.3488339329118|     null| 2.006400016357911|null|null|       null| null|
|    min|                0|Employed?|                 0|  BS|   N|Internship?|Hired|
|    max|         YearsExp|        Y| PreviousEmployers| PHD|   Y|          Y|    Y|
+-------+-----------------+---------+------------------+----+----+-----------+-----+

In [15]:
df.dropna().show()  #it will return the dataframe omitting rows with null values

+--------+---------+-----------------+---------+-------------+-----------+-----+
|     _c0|      _c1|              _c2|      _c3|          _c4|        _c5|  _c6|
+--------+---------+-----------------+---------+-------------+-----------+-----+
|YearsExp|Employed?|PreviousEmployers|Education|TopTierSchool|Internship?|Hired|
|      10|        Y|                4|       BS|            N|          N|    Y|
|       0|        N|                0|       BS|            Y|          Y|    Y|
|       7|        N|                6|       BS|            N|          N|    N|
|       2|        Y|                1|       MS|            Y|          N|    Y|
|      20|        N|                2|      PHD|            Y|          N|    N|
|       0|        N|                0|      PHD|            Y|          Y|    Y|
|       5|        Y|                2|       MS|            N|          Y|    Y|
|       3|        N|                1|       BS|            N|          Y|    Y|
|      15|        Y|                5|       BS|            N|          N|    Y|
|       0|        N|                0|       BS|            N|          N|    N|
|       1|        N|                1|      PHD|            Y|          N|    N|
|       4|        Y|                1|       BS|            N|          Y|    Y|
|       0|        N|                0|      PHD|            Y|          N|    Y|
+--------+---------+-----------------+---------+-------------+-----------+-----+

In [16]:
df.dropna().count() #it will give count of rows of the returned dataframe which is returned from dropna()

14